* {
    margin: 0;
    padding: 0;
    appearance: none;

    box-sizing: border-box;
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;

    --border-gradient-black: rgb(80, 80, 80);
    --border-gradient-white: white;
    --border-gradient-size: 7px;

    --bg-color: rgb(204, 196, 179);
}

#main {
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background-color: rgb(204, 203, 203);
}

.main-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.game-container {
    padding: 10px;
    background-color: var(--bg-color);

    border: var(--border-gradient-size) solid black;
    border-image: linear-gradient(
        to left top, 
        var(--border-gradient-black) 50%, 
        var(--border-gradient-white) 50%
    ) 1;
}

.options-container {
    display: flex;

    gap: 10px;

    padding: 10px;
}

.options-container button {
    padding: 10px;
}

.menu {
    display: flex;

    align-items: center;
    justify-content: space-around;

    height: 20vh;
    background-color: var(--bg-color);

    border: var(--border-gradient-size) solid black;
    border-image: linear-gradient(to right bottom, 
        var(--border-gradient-black) 50%, 
        var(--border-gradient-white) 50%
    ) 1;
}

.canvas-container {
    display: flex;

    width: clamp(300px, 70vw, var(--max-view-width));
    height: clamp(200px, 60vh, var(--max-view-height));

    overflow: hidden;

    justify-content: center;
    align-items: center;

    border: var(--border-gradient-size) solid black;
    border-image: linear-gradient(to right bottom, 
        var(--border-gradient-black) 50%, 
        var(--border-gradient-white) 50%
    ) 1;
}

.progressbar-container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 10px;
}

.progressbar {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 5px;
}

canvas {
    width: 100%;
    height: 100%;
}

#restart-btn {
    background-color: var(--bg-color);

    border: var(--border-gradient-size) solid black;
    border-image: linear-gradient(
        to left top, 
        var(--border-gradient-black) 50%, 
        var(--border-gradient-white) 50%
    ) 1;
}

#restart-btn img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
    width: 40px;
    height: 40px;
}

.main-menu {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.btn {
    padding: 10px;
    background-color: var(--bg-color);
    color: white;;

    border: var(--border-gradient-size) solid black;
    border-image: linear-gradient(
        to left top, 
        var(--border-gradient-black) 50%, 
        var(--border-gradient-white) 50%
    ) 1;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input-block input {
    padding: 2px;
    border: 1px solid black;
}

.main-menu__input-block {
    display: flex;

    justify-content: space-between;

    gap: 5px;
}

#submit {
    width: 100%;
}
